/* body {
    font-family: Helvetica;
    height: 100vh;
}

/* div:last-child {
    margin: 0;
} */

/* .clearfix:after {
    display: block;
    clear: both;
    content: "";   
} */
/* 
.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-items: stretch; 
    align-content: space-between;
} */
/* 
#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
} */ 

/* 
header rgb(209, 59, 50)
article tl rgb(186 53 46)
article tr rgb(197, 55, 47)
article bl rgb( 175, 50, 42)
article br rgb(186, 53, 46)

*/

* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: grid;
    /* mobile first - single column */
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto 100px;
    grid-template-areas: 
      "hdr"
      "ftr"
      "content"
      "side";
  }

  @media only screen and (min-width: 768px) {
	body {
	  /* tablet - two column display */
	  grid-template-columns: 2fr 2fr;
	  grid-template-rows: 50px auto 30px;
	  grid-template-areas: 
	    "hdr hdr"
	    "article1 article2"
	    "ftr ftr";
	}
}

  
  header {
    grid-area: hdr;
    background-color: #ff9e7a;
  }
  
  .article1 {
    grid-area: article1;
    background-color: #ffe07a;
  }
  
  .article2 {
    grid-area: article2;
    background-color: #bf9df7;
  }

  footer {
    grid-area: ftr;
    background-color: #b1fcc8;
  }
  
  header, .article1, .article2, footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

